<h1>StaticPages#calendar</h1>
<p>Find me in app/views/static_pages/calendar.html.erb</p>
<p>User chooses day, modal pops up and prompts user for time and machineType and clicks 'Request Machine' button</p>
<p>Data sent to database for admin page</p>
<p>Notify user with banner or toast that their request has been submitted and they will receive an email</p>
<p style="font-size:25px">Day:</p>
<p style="font-size:25px">Time:</p>
<p style="font-size:25px">MachineType:</p>
<img src="http://www.racedepartment.com/images/rd_calext/calendar.png"/>