<h1>Welcome to CaMS Maker Lab Scheduling</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>put our login page here?</p>
<p style="width:25%"><a href="/sessions/new">Login</a></p>
<p style="width:25%"><a href="sessions/admin">ADMIN</a></p> <!--/users/index to go to user list-->
<p style="width:25%"><a href="/admins">Add Admin</a></p> <!--not on real home page-->
<p style="width:25%"><a href="/users/index">User List</a></p> 
<p style="width:25%"><a href="schedules">Schedule List</a></p> 
<p style="width:25%; float:left"><a href="/users/new">Sign Up</p>
<p style="width:25%; float:left"><a href="/calendar">Calendar</p>
