<!--This page renders the edit user page-->

<%= render 'form' %>

<div class="btn-group btn-lg">
  <%= link_to 'Back', users_path, class: "text-center btn btn-lg btn-danger" %>
  <%= link_to 'Show', @user, class: "text-center btn btn-lg btn-danger" %>
</div>
